/*styling file created by John Selvin John*/

/* the below is used to apply box sizing for all elements */ 
*,/* https://www.w3schools.com/cssref/sel_all.php */
*::before,/*https://www.w3schools.com/cssref/sel_before.php*/
*::after /*https://www.w3schools.com/cssref/sel_after.php - https://www.youtube.com/watch?v=zGiirUiWslI*/{
    box-sizing: border-box; /*to ensure that the border & padding does not increase total width - https://www.w3schools.com/css/css3_box-sizing.asp*/
}

html,
body {
    height: 100%;/*to ensure that the root, i.e html and body fills the entire screen - https://www.w3schools.com/howto/howto_css_full_page.asp*/
}

body {
    margin: 0; /*to remove unwanted white space around the webpage*/
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background-color: #020617; 
    background-image: url("../assets/images/aboutbg1.svg");/*to include the bg image*/
    background-size: cover;/* to make the bg image cover the entire screen view*/
    background-repeat: no-repeat;/*to ensure that the bg image is not repeated - https://www.w3schools.com/css/css_background_repeat.asp*/
    background-attachment: fixed; /*to ensure that the bg image does not move, to create the content scroll over view - https://www.w3schools.com/css/css_background_attachment.asp*/
    background-position: center;/*to center the image*/
}

/* --- Hero content (centered) --- */
.hero {
    width: 100%;
    min-height: 100vh; /*--- to spread the section to whole page*/
    padding-top: 30px;

}

.aboutsec {
    display: flex;
    flex-direction:row;
    min-height:72vh;/*to ensure that each row takes nearly 3/4th of the screen height*/
}

.about-section {
    display: flex;
    align-items: center;
    gap: 2rem; /*to provide a 2*16px gap between image and text*/
    margin: 2rem auto;
    max-width: 1000px;
}

.aboutimg {
    width: 35%;/*to ensure that all images take 35% of the row width on regular screens*/
    height: auto;
    border-radius: 20px;
}

.about-text {
    width: 65%;/*to ensure that all text block takes 65% of the row width on regular screens*/
    color: #ffffff; 
}

.divider {
    width: 55%;
    height: 1px;
    background-color: rgba(109, 240, 255, 0.25); 
    margin: 16px auto;
}

.divider-long {
    width: 85%;
    height: 1px;
    background-color: rgba(109, 240, 255, 0.25); 
    margin: 16px auto;
}

h2{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

p{
    font-size: 21px;
}

.abtlist{
    font-size: 21px;
}

.ital{
    font-style: italic;
    color:rgba(38, 146, 235)
}

.footer {
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 768px) {/*styling for tablets and phones*/
    .hero{
        min-height: auto;
        padding-top: 72px;
    }
    .about-section {
        flex-direction: column;/*to stack the image and text vertically in smaller screens*/
        text-align: center;
    }

    .aboutimg {
    width: 45%;
    height: auto;
    border-radius: 20px;
    }

    .about-text {
        width: 90%;
    }

    body {
        background: #0B111B !important;/*to override the SVG background on smaller screens*/
    }

    .aboutsec {
        height: auto;
        min-height: 0;
        padding: 30px 16px 10px;/*to esure that content is always shown below the navbar*/
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: visible;
    }

    .about-section {
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        margin: 0;
    }

    .about-text {
        font-size: 0.9rem;
        margin-bottom: 4px;
        text-align: left;
    }

    .about-text h2 {
        font-size: 1.9rem;
        padding-bottom: 4px;
        text-align: center;
    }

    .about-text p{
        margin-bottom: 0.95rem;
        line-height: 1.3;
        margin-bottom: 4px;
        padding: 8px;
        font-size: 1rem;
    }

    .aboutimg{
        width: auto;
        max-height: 35vh;
        border-radius: 20px;
        margin-bottom: 6px;
    }

    .about-text ul li{
        font-size: 1.1rem;
        margin-bottom: 2px;
    }
}
