/*styling file created by John Selvin John*/

/* the below is used to apply box sizing for all elements */ 
*,/* https://www.w3schools.com/cssref/sel_all.php */
*::before,/*https://www.w3schools.com/cssref/sel_before.php*/
*::after /*https://www.w3schools.com/cssref/sel_after.php - https://www.youtube.com/watch?v=zGiirUiWslI*/{
    box-sizing: border-box; /*to ensure that the border & padding does not increase total width - https://www.w3schools.com/css/css3_box-sizing.asp*/
}

/*:root { to be removed
  --shadow: 0 18px 60px rgba(10,37,64,0.95);
  /* to create a CSS variable you can reuse for shadows - reference from W3schools https://www.w3schools.com/css/css3_variables.asp */
/*}*/

html,
body {
    height: 100%;/*to ensure that the root, i.e html and body fills the entire screen - https://www.w3schools.com/howto/howto_css_full_page.asp*/
}

body {
    margin: 0; /*to remove unwanted white space around the webpage*/
/*    background: radial-gradient(900px 600px at 85% -10%, rgba(109, 240, 255, .10), to be removed
        transparent 60%), radial-gradient(1000px 500px at 10% 0%, rgba(90, 167, 255, .10), 
        transparent 60%), 
        linear-gradient(180deg,#0a0f17, #0b1220,  60%, #070b14);*/
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background-color: #020617; 
    background-image: url("../assets/images/aboutbg.svg");/*to include the bg image*/
    background-size: cover;/* to make the bg image cover the entire screen view*/
    background-repeat: no-repeat;/*to ensure that the bg image is not repeated - https://www.w3schools.com/css/css_background_repeat.asp*/
    background-attachment: fixed; /*to ensure that the bg image does not move, to create the content scroll over view - https://www.w3schools.com/css/css_background_attachment.asp*/
    background-position: center;/*to center the image*/
}

/* --- Hero content (centered) --- */
.hero {
    width: 100%;
    min-height: 100vh; /*--- to spread the section to whole page*/
    padding-top: 30px;

}

/* to be removed
.hero-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #ffffff;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    text-align: center;
}


.brand-mark {
    display: inline-flex;
    align-items: center;
    gap: .75rem;
    margin-bottom: 1rem;
}

.brand-mark img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, .35));
}

.hero h1 {
    font-size: clamp(3rem, 5vw, 8rem);
    font-weight: bold;
    margin: .5rem 0 0.75rem;
    line-height: 1.1;
    text-shadow: 0 10px 24px rgba(0, 0, 0, .4);
}

.content {
    padding: 4rem 1.25rem;
    color: white;
    overflow-x: hidden;
    background: rgba(38, 146, 235);
    font-family: Inter, system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}

.content .container {
    max-width: 1000px;
    margin: 0 auto;
}
    */

.aboutsec {
    display: flex;
    flex-direction:row;
    min-height:100vh;/*to ensure that each row takes one full screen height*/
}

.about-section {
    display: flex;
    align-items: center;
    gap: 2rem; /*to provide a 2*16px gap between image and text*/
    margin: 2rem auto;
    max-width: 1000px;
}

.aboutimg {
    width: 35%;/*to ensure that all images take 35% of the row width on regular screens*/
    height: auto;
    border-radius: 20px;
}

.about-text {
    width: 65%;/*to ensure that all text block takes 65% of the row width on regular screens*/
    color: #ffffff; 
}

h2{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

p{
    font-size: 21px;
}

.abtlist{
    font-size: 21px;
}

.ital{
    font-style: italic;
    color:rgba(38, 146, 235)
}

.footer {
    color: white;
    padding: 2rem 0;
    text-align: center;
    font-size: 14px;
}

/*@media (max-width: 991.98px) {  /* Bootstrap lg breakpoint  to be removed

/*  .footer{
    padding-left: 5%;
}
}*/

@media (max-width: 768px) {/*styling for tablets and phones*/
    .about-section {
        flex-direction: column;/*to stack the image and text vertically in smaller screens*/
        text-align: center;
    }

    .aboutimg {
    width: 45%;
    height: auto;
    border-radius: 20px;
    }

    .about-text {
        width: 90%;
    }

    body {
        background: #0B111B !important;/*to override the SVG background on smaller screens*/
    }

    .aboutsec {
        height: calc(100vh - 70px);/*to ensure that in smaller screens the image + text block for each section, along with navbar is showin in one screen*/
        padding: 70px 16px 10px;/*to esure that content is always shown below the navbar*/
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;/*to hide scroll overflow inside each section */
        border-top: 1px solid rgba(255, 255, 255, 0.5); /*to add a thin divider line between each sections*/
    }

    .aboutsec:first-of-type {/*to ensure that above mentioned thin divider line does not appear for the first section - https://www.w3schools.com/cssref/sel_first-of-type.php*/
      border-top: none;
    }


    .about-section {
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        margin: 0;
    }

    .about-text {
        font-size: 0.9rem;
        margin-bottom: 4px;
        text-align: left;
    }

    .about-text h2 {
        font-size: 1.9rem;
        padding-bottom: 4px;
        text-align: center;
    }

    .about-text p{
        margin-bottom: 0.95rem;
        line-height: 1.3;
        margin-bottom: 4px;
        padding: 8px;
        font-size: 1rem;
    }

/*    .about-text ul{ to be removed
        margin: 0 0 4px;
        padding-left: 1.1rem;
    }*/

    .aboutimg{
        width: auto;
        max-height: 35vh;
        border-radius: 20px;
        margin-bottom: 6px;
    }

    .about-text ul li{
        font-size: 1.1rem;
        margin-bottom: 2px;
    }

    /*.footer{ to be removed
        font-size:0.7rem;
        padding-bottom: 4px;
    }*/
}
